nav {
  background-color: brown;
  width: 100%;
  height: 50px;
  font-family: 'BBH Bartle', sans-serif;
  font-weight: 400;
  font-style: normal;
}
nav ul#meniu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
nav ul#meniu li {
  float: left;
  display: inline-block;
  padding: 16px 15px;
  margin: 0px;
  background-color: blue;
}
nav ul#meniu li:hover {
  background-color: darkred;
  border-radius: 5px;
}
nav ul#menu li:hover a {
  color: rgb(25, 36, 185);
}
nav ul#meniu li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
